body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}
h1 {
    margin-top: 0;
    color: navy;
}
label {
    display: inline-block;
    width: 10em;
    padding-right: 1em;
}
div {
    margin-bottom: 0.5em;
}
.validation-summary-errors {
    color: red;
}